###  Created by Luis A. Sanchez-Perez (alejand@umich.edu).
<p><span style="color:green"><b>Copyright &#169;</b> Do not distribute or use without authorization from author.</span></p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loads movie ratings by user

In [3]:
ratings = pd.read_csv('E:/datasets/recommender/movies/ml-20m/ratings.csv').drop(columns=['timestamp'])
ratings = ratings.set_index(['userId', 'movieId'])
ratings.head()

                rating
userId movieId
1      2           3.5
       29          3.5
       32          3.5
       47          3.5
       50          3.5

In [4]:
# Loads movies
movies = pd.read_csv('E:/datasets/recommender/movies/ml-20m/movies.csv', index_col='movieId').drop(columns=['genres'])

In [5]:
# Finds the number of ratings per movie
ratings_per_movie = ratings.groupby(by='movieId').count().sort_values(by='rating', ascending=False)
# Selects a random subset of the top k movies with most ratings (not necessarily best rated)
buffer = 100
k = 20
indices = np.random.permutation(ratings_per_movie[:buffer].index)
subset = movies.loc[indices[:k]]

In [6]:
# Adds columns with authors to rate these movies
students = [
    'Luis',
    'Alexander',
    'Deekshitha',
    'Grant',
    'Justin',
    'Kawthar',
    'Nathan'
]
for entry in students:
    if entry not in subset.columns:
        subset[entry] = None
subset.head()

,title,Luis,Alexander,Deekshitha,Grant,Justin,Kawthar,Nathan
movieId,,,,,,,,
1240,"Terminator, The (1984)",None,None,None,None,None,None,None
4226,Memento (2000),None,None,None,None,None,None,None
329,Star Trek: Generations (1994),None,None,None,None,None,None,None
2028,Saving Private Ryan (1998),None,None,None,None,None,None,None
434,Cliffhanger (1993),None,None,None,None,None,None,None

In [7]:
subset.to_csv('rating_sheet.csv')